.wrapper {
  width: fit-content;
  margin: 200px auto 0;
  display: flex;
  flex-direction: row;

  .inp-email-wrap {
    margin-bottom: 30px;
  }

  .inp-pass-wrap {
    margin-bottom: 15px;
  }

  .but-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .sub-but {
      border-radius: 5px;
      text-align: center;
      cursor: pointer;
      border: 1px solid #000;
      width: 50px;
      height: 20px;
    }

    .res-but {
      border-radius: 5px;
      text-align: center;
      cursor: pointer;
      border: 1px solid #000;
      width: 50px;
      height: 20px;
    }
    .testBut{
      border-radius: 5px;
      text-align: center;
      cursor: pointer;
      border: 1px solid #000;
      width: 50px;
      height: 20px;
    }


    .sub-but:hover {
      background-color: gray;
    }


    .res-but:hover {
      background-color: gray;
    }
  }

  .welcome-page {
    width: fit-content;
    margin: 0 auto;

    .welcome-text {
      width: fit-content;
      height: fit-content;
      padding: 5px;
      font-size: large;
    }

    .continue-but {
      margin: 0 auto;
      border-radius: 5px;
      text-decoration: none;
      color: #000;
      display: block;
      text-align: center;
      cursor: pointer;
      border: 1px solid #000;
      width: fit-content;
      height: fit-content;
      padding: 2px;
    }

    .continue-but:hover {
      background-color: gray;
    }
  }

}