.wrapper {
    width: 1200px;
    margin: 0 auto;
    border: 1px solid #000;

    header {
        height: 100px;

        border-bottom: 1px solid #000;

        .header-text-wrapper {
            .header-text {
                text-align: center;
                padding-top: 10px;
            }
        }
    }

    main {
        min-height: 450px;

        .main-wrapper {
            margin: 5% auto 10%;
            border: 1px solid #000;
            height: 400px;
            width: 33%;

            .get-button-wrapper {
                height: 50%;
                border-bottom: 1px solid #000;
                box-sizing: border-box;
                padding-top: 25%;

                .get-button {
                    width: fit-content;
                    height: fit-content;
                    border: 1px solid #000;
                    border-radius: 5px;
                    padding: 2px;
                    margin: 0 auto;
                    cursor: pointer;
                }
            }

            .send-button-wrapper {
                height: 50%;

                .file-upload {
                    display: block;
                    margin: 50px auto;
                }

                .submit-button {
                    padding: 2px;
                    border: 1px solid #000;
                    border-radius: 5px;
                    width: fit-content;
                    height: fit-content;
                    margin: 0 auto;
                    cursor: pointer;
                }
            }
        }
    }

    footer {
        height: 100px;

        border-top: 1px solid #000;

        .footer-text-wrapper {
            .footer-text {
                padding: 10px 0 0 20px;
            }
        }
    }
}